.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, minmax(20px, auto));
  grid-gap: 10px;
  background: greenyellow;
}
.box {
  background: orange;
}
